{% if app.user %}
{{ 'eotvos.versenyr.login.loggedin'|trans }}: {{ app.user.email }} | {% if app.user.admin or app.user.tester %}{{ 'eotvos.versenyr.user.tester'|trans }} | {% endif %}
<a href="{{ url('competition_profile', { 'term' : term.getName() } ) }}">{{ 'eotvos.versenyr.user.profile'|trans }}</a> | 
<a href="{{ url('competition_subscriptions', { 'term' : term.getName() }) }}">{{ 'eotvos.versenyr.user.contest'|trans }}</a> | 
<a href="{{ path('logout') }}">{{ 'eotvos.versenyr.user.logout'|trans }}</a>
{% else %}
<form method="post" action="{{ path("login_check") }}">
  <input name="_username" type="text" placeholder="{{ 'eotvos.versenyr.login.name'|trans }}" tabindex="1" />
  <input name="_password" type="password" placeholder="{{ 'eotvos.versenyr.login.password'|trans }}" tabindex="2" />
  <input type="submit" name="loginbtn" id="loginbtn" value="{{ 'eotvos.versenyr.login.submit'|trans }}" tabindex="3" />
</form>
{% endif %}
