<div class="submenu">
<ul>
  <li><a href="{{ page | ecvurl  }}">{{ page.title }} Szekció Kezdőlap</a></li>
{% for child in page.children %}
{% if child.inMenu and child.special != "round" %}
  <li><a href="{{ child | ecvurl  }}">{{ child.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="subbox">
<h3>Jelentkezési határidő</h3>
<span class="untildate">{{ section.registrationUntil|date("Y. m. d.") }}</span>
</div>
{% for child in page.children %}
{% if child.special == "round" %}
<div class="roundbox"><div class="standardround">
<h3><a href="{{ child | ecvurl }}">{{ child.title }}</a></h3>
<li><strong>{% trans %}sidebar.type{% endtrans %}:</strong> {{ child.round.roundtypeDisplay }}</li>
<li><strong>{% trans %}sidebar.start{% endtrans %}:</strong> {{ child.round.start|date('Y. m. d. H:i')  }}</li>
<li><strong>{% trans %}sidebar.stop{% endtrans %}:</strong> {{ child.round.stop|date('Y. m. d. H:i')  }}</li>
{% if child.round.active %}
  {% for name, link in roundcontroller(child.round).getRoundLinks(term.getName(), page.section, child.round) %}
    <li><a href="{{ link }}">{{ name }}</a></li>
  {% endfor %}
{% endif %}
{% if child.round.advanceNo < 10 %}
    <li><a href="{{ url( 'competition_round_sum', { 'term': term.getName(), 'sectionSlug' : section.page.slug, 'roundSlug': child.slug } ) }}">Eredmények</a></li>
{% endif %}
</div>
</div>
{% endif %}
{% endfor %}
