<div class="submenu">
<ul>
  <li><a href="{{ page | ecvurl  }}">{{ page.title }}</a></li>
{% for child in page.children %}
{% if child.inMenu and child.special != "round" %}
  <li><a href="{{ child | ecvurl  }}">{{ child.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="subbox">
  <h3>{{ 'eotvos.versenyr.section.deadline'|trans }}</h3>
<span class="untildate">{{ section.registrationUntil|date("Y. m. d.") }}</span>
</div>
{% for child in page.children %}
{% if child.special == "round" %}
{% set boxtype = 'standardround' %}
  {% if app.user and ((app.user.isRegisteredForTerm(term) and app.user.getRegistrationForTerm(term).hasSection( child.round.section )) or (app.user.tester or app.user.admin)) %}
  {% if child.round.isOver() %}
    {% if child.round.advances(app.user.getRegistrationForTerm(term)) %}
      {% set boxtype = 'successround' %}
    {% else %}
      {% set boxtype = 'failedround' %}
    {% endif %}
  {% else %}
    {% if app.user.getRegistrationForTerm(term) != null and not child.round.registrationActive(app.user.getRegistrationForTerm(term)) %}
      {% set boxtype = 'failedround' %}
    {% endif %}
  {% endif %}
{% endif %}
<div class="roundbox"><div class="{{ boxtype }}">
<h3><a href="{{ child | ecvurl }}">{{ child.title }}</a></h3>
<li><strong>{% trans %}sidebar.start{% endtrans %}:</strong> {{ child.round.start|date('Y. m. d. H:i')  }}</li>
<li><strong>{% trans %}sidebar.stop{% endtrans %}:</strong> {{ child.round.stop|date('Y. m. d. H:i')  }}</li>
{% if child.round.active %}
  {% for name, link in roundcontroller(child.round).getRoundLinks(child.round) %}
    <li><a href="{{ link }}">{{ name }}</a></li>
  {% endfor %}
{% endif %}
{% if child.round.publicity != null %}
<li><a href="{{ url( 'competition_round_sum', { 'term': term.getName(), 'sectionSlug' : section.page.slug, 'roundSlug': child.slug } ) }}">{{ 'eotvos.versenyr.section.results'|trans }}</a></li>
{% endif %}
</div>
</div>
{% endif %}
{% endfor %}
