{% extends 'CancellarAdminBundle::layout.html.twig'  %}

{% block main %}
<h2>{% trans %}admin.term.display.list{% endtrans %}</h2>
<a style="float: right" href="{{ path('admin_term_new') }}">{% trans %}admin.term.actions.new{% endtrans %}</a>
<br />
<br />
<table class="standard" style="width:100%;">
  <thead>
    <tr>
      <th>{% trans %}admin.term.fields.id{% endtrans %}</th>
      <th>{% trans %}admin.term.fields.name{% endtrans %}</th>
      <th>{% trans %}admin.term.fields.active{% endtrans %}</th>
      <th>{% trans %}admin.term.fields.start{% endtrans %}</th>
      <th>{% trans %}admin.actions{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in terms %}
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>{{ (row.active? 'admin.term.activity.active' : 'admin.term.activity.inactive')|trans }}</td>
      <td>{{ row.registrationStart|date('Y-m-d') }}</td>
      <td>
        <a href="{{ path('admin_term_edit', { id: row.id }) }}">{% trans %}admin.term.actions.edit{% endtrans %}</a>
        <a href="{{ path('admin_term_delete', { id: row.id }) }}">{% trans %}admin.term.actions.delete{% endtrans %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
