{% extends 'CancellarAdminBundle::layout.html.twig' %}

{% form_theme form 'CancellarAdminBundle::form.html.twig' %}

{% block main %}
<h2>{{ 'admin.term.display.new'|trans }}</h2>
<form class="wide" action="{{ path('admin_term_new' ) }}" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <legend>{{ 'admin.term.legend.fields'|trans }}</legend>
    {{ form_row(form.name) }}
    {{ form_row(form.userType) }}
    {{ form_row(form.registrationStart) }}
    {{ form_row(form.active) }}
    <div class="formrow row_required">
      <p class="inputholder">
      <input type="submit" value="{{ 'admin.term.actions.save'|trans }}" class="button" />
      </p>
    </div>
  </fieldset>
  {{ form_rest(form) }}
</form>
{% endblock %}

