{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set threecol = false %}
{% set fbbox = false %}

{% block body %}
<h2>{{ 'eotvos.versenyr.user.profile'|trans }}</h2>

<div class="profil">
<ul>
  <li><span class="key">{{ 'eotvos.versenyr.user.fields.email'|trans' }}: </span><span class="value">{{ app.user.email }}</span></li>
  <li><span class="key">{{ 'eotvos.versenyr.user.fields.identifier'|trans' }}: </span><span class="value">{{ app.user.uniqueIdentifier }}</span></li>
</ul>
</div>
<p>
{% trans with { 'email': eotvos_versenyr_admin_contact } %}eotvos.versenyr.user.datachange{% endtrans %}
</p>
{% endblock %}
