{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set active_menu = "jelentkezes" %}
{% set threecol = true %}
{% set fbbox = false %}

{% block title %}
Jelentkezés
{% endblock %}

{% form_theme form 'EotvosVersenyrBundle:User:form.html.twig' %}

{% block body %}
<h2>{% trans %}registration.form.title{% endtrans %}</h2>
<form method="post" {{ form_enctype(form) }}>
  <fieldset>
    <legend>Account</legend>
    {{ form_row(form.user.email) }}
    {{ form_row(form.user.password) }}
  </fieldset>
  {% include subform with { 'form' : form } %}
  <fieldset class="choices">
    <legend>Sections</legend>
    {{ form_errors(form.user.sections) }}
    {{ form_widget(form.user.sections) }}
  </fieldset>
  {{ form_rest(form) }}
  <input type="submit" value="Register" class="button" />
</form>
{% endblock %}

{% block rbody %}
{% include rightpart %}
{% endblock %}
