{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set active_menu = "registration" %}
{% set threecol = true %}
{% set fbbox = false %}

{% block title %}eotvos.versenyr.user.register{% endblock %}

{% form_theme form 'EotvosVersenyrBundle:User:form.html.twig' %}

{% block body %}
<h2>{% trans %}registration.form.title{% endtrans %}</h2>
<form method="post" {{ form_enctype(form) }}>

{% if formtype=='standard' %}
  <fieldset>
    <legend>{{ 'registration.form.legend.fields'|trans }}</legend>
    {{ form_row(form.user.email) }}
    {{ form_row(form.user.password) }}
  </fieldset>
  {% include subform with { 'form' : form.registration } %}

  <fieldset>
    <legend>{% trans %}registration.form.legend.terms{% endtrans %}</legend>
    {{ form_row(form.registration.terms) }}
  </fieldset>

  <fieldset class="choices">
    <legend>{% trans %}registration.form.legend.sections{% endtrans %}</legend>
    {{ form_errors(form.registration.sections) }}
    {{ form_widget(form.registration.sections) }}
  </fieldset>
{% else %}
  {% include subform with { 'form' : form} %}

  <fieldset>
    <legend>{% trans %}registration.form.legend.terms{% endtrans %}</legend>
    {{ form_row(form.terms) }}
  </fieldset>

  <fieldset class="choices">
    <legend>{% trans %}registration.form.legend.sections{% endtrans %}</legend>
    {{ form_errors(form.sections) }}
    {{ form_widget(form.sections) }}
  </fieldset>
{% endif %}


  {{ form_rest(form) }}
  <input type="submit" value="{{ 'registration.form.button'|trans }}" class="button" />
</form>
{% endblock %}

{% block rbody %}
{% include rightpart %}
{% endblock %}
