{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set threecol = false %}
{% set fbbox = false %}

{% block body %}
  <h2>Versenyhelyzet</h2>
  <table class="sectionsubscription">
  <thead>
    <tr>
      <th style="width: 200px;">Szekció</th>
      <th style="width: 150px;">Státusz</th>
      <th>Regisztrációs határidő</th>
      <th>Következő forduló</th>
    </tr>
  </thead>
  <tbody>
  {% for item in sections %}
  <tr class="{% if registration.hasSection(item) %}st_subscribed{% else %}{% if registration.mayJoin(item) %}st_joinable{% else %}st_disabled{% endif %}{% endif %}" id="section_{{ item.page.slug }}">
    <td><a href="{{ item | ecvurl }}">{{ item.page.title }}</a></td>
    <td>
    {% if registration.hasSection(item) %}
      jelentkezve
    {% else %}
      {% if registration.mayJoin(item) %}
        <a href="{{ url('competition_subscribe', { 'term' : term.getName(), 'section' : item.page.slug } ) }}">jelentkezés</a>
      {% else %}
        -
      {% endif %}
    {% endif %}
    </td>
    <td>{{ item.registrationUntil|date("Y. m. d.") }}</td>
    <td>{% if item.nextRound is not null %}{{ item.nextRound.start|date("Y. m. d. H:i") }}{% else %}-{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
