{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set threecol = false %}
{% set fbbox = false %}

{% block body %}
{% if registration %}
<h2>{{ 'eotvos.versenyr.contest.title'| trans }}</h2>
  <table class="sectionsubscription">
  <thead>
    <tr>
      <th style="width: 200px;">{{ 'eotvos.versenyr.contest.name'| trans }}</th>
      <th style="width: 150px;">{{ 'eotvos.versenyr.contest.status'| trans }}</th>
      <th>{{ 'eotvos.versenyr.contest.reguntil'| trans }}</th>
      <th>{{ 'eotvos.versenyr.contest.nextround'| trans }}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in sections %}
  <tr class="{% if registration.hasSection(item) %}st_subscribed{% else %}{% if registration.mayJoin(item) %}st_joinable{% else %}st_disabled{% endif %}{% endif %}" id="section_{{ item.page.slug }}">
    <td><a href="{{ item | ecvurl }}">{{ item.page.title }}</a></td>
    <td>
    {% if registration.hasSection(item) %}
      {{ 'eotvos.versenyr.contest.status.joined'|trans }}
    {% else %}
      {% if registration.mayJoin(item) %}
      <a href="{{ url('competition_subscribe', { 'term' : term.getName(), 'section' : item.page.slug } ) }}">{{ 'eotvos.versenyr.contest.status.mayjoin'|trans }}</a>
      {% else %}
        {{ 'eotvos.versenyr.contest.status.nojoin'|trans }}
      {% endif %}
    {% endif %}
    </td>
    <td>{{ item.registrationUntil|date("Y. m. d.") }}</td>
    <td>{% if item.nextRound is not null %}{{ item.nextRound.start|date("Y. m. d. H:i") }}{% else %}-{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
{{ 'eotvos.versenyr.subscriptions.noreg'|trans }}
{% endif %}
{% endblock %}
