<table border="1" cellpadding"5" style="float: right">
<thead>
  <tr>
    <th>Azonosito</th>
    <th>Szekcio</th>
    <th>Veznev</th>
    <th>Kernev</th>
    <th>Email</th>
    <th>Pont</th>
    <th>Tovabbjutott?</th>
  </tr>
</thead>
<tbody>
{% for dat in standing %}
<tr><td>{{ dat[0] }}</td>
<td>{{ section.title }}</td>
<td>{{ dat[2].lastname }}</td>
<td>{{ dat[2].firstname }}</td>
<td>{{ dat[2].email }}</td>
<td>{{ dat[1] }}</td>
<td>{% if loop.index <= fwd %}igen{% else %}nem{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<form method="post">

Tovabbjutok szama: <input type="number"  name="att" value="{{ fwd }}" /><br /><br />

<table border="1" cellpadding="5">
<thead>
  <tr>
    <th>Azonosito</th>
    <th>Kategoria</th>
    <th>Pont</th>
  </tr>
</thead>
<tbody>
{% for user,dat in submissions %}
  {% for cat,dat2 in dat %}
<tr><td>{{ user }}</td><td>{{ cat }}</td><td><input type="number" name="r{{ dat2[0] }}" value="{{ dat2[1] }}" /></td></tr>
  {% endfor %}
{% endfor %}
</tbody>
</table>


<input type="submit" value="Elment" />
</form>

<a href="{{ url('admin_index') }}">vissza</a>
