{% extends 'CancellarAdminBundle::layout.html.twig' %}

{% form_theme form 'CancellarAdminBundle::form.html.twig' %}

{% block main %}
<h2>{{ 'admin.textpage.display.new'|trans }}</h2>
<form class="wide" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <legend>{{ 'admin.textpage.label.fields'|trans }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {% if textpage.parent == null %}
    {{ form_row(form.parent) }}
    {% endif %}
    {{ form_row(form.body) }}
    {{ form_rest(form) }}
    <div class="formrow row_required">
      <p class="inputholder">
      <input type="submit" value="{{ 'admin.textpage.actions.save'|trans }}button" />
      </p>
    </div>
  </fieldset>
</form>
{% endblock %}

