{% extends 'CancellarAdminBundle::layout.html.twig'  %}

{% block main %}
<h2>Felhasznalo: {{ user.id }}</h2>
<table class="standard" style="width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th style="width:20%">Rang</th>
            <th>Muveletek</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{ path('admin_user_show', { id: user.id }) }}">{{ user.id }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.admin ? 'ADMIN' : (user.tester? 'TESZTELO' : 'VERSENYZO') }}</td>
            <td>
                <a href="{{ path('admin_user_edit', { id: user.id }) }}">szerkesztes</a>
                <a href="{{ path('admin_user_delete', { id: user.id }) }}">torol</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

