{% extends 'CancellarAdminBundle::layout.html.twig'  %}

{% block main %}
<h2>{% trans %}admin.submission.display.list{% endtrans %}</h2>
<form>
    <label>
        {% trans %}admin.submission.display.rounds{% endtrans %}
    </label>
    <select id="round_selector">
        {% for round in rounds %}
        <option></option>
        <option value="{{ round.id }}" {% if thisround and thisround.id == round.id %}selected="selected"{% endif %}>{{ round.page.title }}</option>
        {% endfor %}
    </select>
</form>
<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery('#round_selector').change(function() {
          var val = jQuery(this).val();
          if (val) {
            document.location.href = '{{ url('admin_submission_indexr', { 'round' : '--round--' }) }}'.replace('--round--', val);
          }
        });
      });
</script>
{% if thisround %}
<a style="float: right" href="{{ path('admin_submission_new', { 'round' : thisround.id }) }}">{% trans %}admin.submission.actions.new{% endtrans %}</a>
{% endif %}
<br />
<br />
<table class="standard" style="width:100%;">
    <thead>
        <tr>
            <th>{% trans %}admin.submission.fields.id{% endtrans %}</th>
            <th>{% trans %}admin.submission.fields.user{% endtrans %}</th>
            <th>{% trans %}admin.submission.fields.category{% endtrans %}</th>
            <th>{% trans %}admin.submission.fields.time{% endtrans %}</th>
            <th>{% trans %}admin.actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in submissions %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.user }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.submittedAt|date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('admin_submission_edit', { id: row.id }) }}">{% trans %}admin.submission.actions.edit{%endtrans%}</a>
                <a href="{{ path('admin_submission_delete', { id: row.id }) }}">{% trans %}admin.submission.actions.delete{%endtrans%}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
