{% extends 'CancellarAdminBundle::layout.html.twig' %}

{% form_theme form 'CancellarAdminBundle::form.html.twig' %}

{% block main %}
<h2>Uj alkalom letrehozasa</h2>
<form class="wide" action="{{ path('admin_submission_new', { 'round': round.id } ) }}" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <legend>Adatok</legend>
    {{ form_row(form.user) }}
    {{ form_row(form.category) }}
    {{ form_row(form.points) }}
    <div class="formrow row_required">
      <p class="inputholder">
      <input type="submit" value="Mentés" class="button" />
      </p>
    </div>
  </fieldset>
  {{ form_rest(form) }}
</form>
{% endblock %}

