{% extends 'CancellarAdminBundle::layout.html.twig'  %}

{% block main %}
<h2>{% trans with { '%email%': user.email } %}admin.user.display.one{% endtrans %}</h2>
<a style="float: right" href="{{ path('admin_user_new') }}">{% trans %}admin.user.actions.new{% endtrans %}</a>
<br />
<br />
<table class="standard" style="width:100%;">
  <thead>
    <tr>
      <th>{% trans %}admin.user.fields.id{% endtrans %}</th>
      <th>{% trans %}admin.user.fields.email{% endtrans %}</th>
      <th>{% trans %}admin.user.fields.status{% endtrans %}</th>
      <th>{% trans %}admin.user.fields.created{% endtrans %}</th>
      <th>{% trans %}admin.actions{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{ path('admin_user_show', { id: user.id }) }}">{{ user.id }}</a></td>
      <td>{{ user.email }}</td>
      <td>{{ (user.admin ? 'admin.user.status.admin' : (user.tester? 'admin.user.status.tester' : 'admin.user.status.user'))|trans }}</td>
      <td>{{ user.createdAt|date('Y-m-d') }}</td>
      <td>
        <a href="{{ path('admin_user_edit', { id: user.id }) }}">{% trans %}admin.user.actions.edit{% endtrans %}</a>
        <a href="{{ path('admin_user_delete', { id: user.id }) }}">{% trans %}admin.user.actions.delete{% endtrans %}</a>
      </td>
    </tr>
  </tbody>
</table>
<h2>{% trans %}admin.user.display.registrations{% endtrans %}</h2>
<ul>
{% for reg in user.registrations %}
  <li>{{ reg.termName }}
    <a href="{{ path('admin_user_delreg', { 'user': user.id, 'term': reg.term.id }) }}">{% trans %}admin.user.actions.delete_registration{% endtrans %}</a>
    <a href="{{ path('admin_user_editreg', { 'user': user.id, 'term': reg.term.id }) }}">{% trans %}admin.user.actions.edit_registration{% endtrans %}</a>
  </li>
  {% endfor %}
  <li>
  <form>
  <label>{% trans %}admin.user.actions.register{% endtrans %}</label>
  <select id="reg_section">
    <option></option>
  {% for term in terms %}
    <option value="{{ term.id }}">{{ term.name }}</option>
  {% endfor %}
  </select>
  </form>
  </li>
</ul>
<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery('#reg_section').change(function() {
          var val = jQuery(this).val();
          if (val) {
            document.location.href = '{{ url('admin_user_register', { 'user' : user.id, 'term': '--term--' }) }}'.replace('--term--', val);
          }
        });
      });
</script>
{% endblock %}

